* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(357deg, #581e1e, #000000);
    /* background: linear-gradient(357deg, #3f5ec1, #ca8989); */
    display: flex;
    /* grid-template-columns: 60% 40%; */
    /* max-width: 1000px; */
    /* min-height: 1000px; */
    padding: 50px auto;
    justify-content: center;
    align-items: center;
}



.right-section {
    /* background: linear-gradient(357deg, #3f5ec1, #09ab4fe3); */
    /* background: rgb(114, 123, 136); */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;

}

.img_box,
.tag-line {
    justify-content: center;
    align-items: center;
}

.tag-line h3 {
    display: contents;
}

.btn {

    background-color: #4b9e57;
    border-color: #4ca155;
    border-radius: 25px;
    padding: 7px 50px;
    font-weight: 600;
}

.btn:hover {
    background: #63cc7f;
    border-color: #4ca155;
}

.form-box {
    display: flex;
    height: 90%;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 20px 0px #373738;
    padding: 25px;
    flex-direction: column;
    justify-content: space-evenly
}

.form-box input {
    border-radius: 20px;
}

.heading {
    background: linear-gradient(179deg, #63cc7f, #000000ba);
    /* background: linear-gradient(179deg, #3c6efd, #000000ba); */
    position: relative;
    /* text-align: center; */
    color: white;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.heading-logo {
    height: 30px;
    width: 20px;
    border-radius: 50%;

}


.d-none{
    display: none;
}
.error_msg{
    /* text-align: center; */
    color: rgb(182, 67, 67);
}


main{
    /* background-image: url('https://media.istockphoto.com/photos/film-reels-on-black-background-movie-video-and-cinema-prodaction-and-picture-id1336937059?b=1&k=20&m=1336937059&s=170667a&w=0&h=Lg5T5VAhrTRhHmFrWp8cTWRjZrSm-nPkeTpVU2dsZoE='); */
    /* background-size: cover; */
    height: 100%;
}

.container{
    color: red;
    font-size: 10rem;
    FONT-WEIGHT: 600;

}

.btnbox{
    text-align: center;
    margin-top: 25vh;
}

.login_btn{
 
      
    box-shadow: 0px 0px 17px 1px red;

    background-color: #010101;
    /* border-color: #e62e2d; */
    border-radius: 25px;
    padding: 7px 50px;
    font-weight: 600;
    color: #e62e2d;
    font-size: 25px;
    transition: all 0.8s ease;
    letter-spacing: 3px;

    }
    


    .login_btn:hover {
        
        box-shadow: 0px 0px 17px 1px black;

        /* color: #e62e2d; */
        letter-spacing: 5px;
        /* font-size: 22px; */
       /* transform: scale(1.05); */
       border: black;
       background: #e62e2d;
       /* background: linear-gradient(45deg, black, #fc0000); */
       color: black;
    }
